@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.booklight * {font-family:'Open Sans', sans-serif; font-weight: 200;direction: ltr}
.booklight { min-width: 700px;position:absolute;width: 40%;height: 320px;left: 0;margin: 0 auto;right: 0;top: 100px;background: #fff;box-shadow: 0px 0px 20px 9px #ddd;display: none;z-index: 99999999}
.booklight>input[type="text"] {background:#fff; color:#000;box-shadow: none;width: 90%; margin: 10px auto; height:50px;position: relative;border: 0;outline: none;padding: 5px 10px;font-size: 20px;box-sizing: content-box;float:left;}
.booklight>input[type="text"]::-webkit-input-placeholder {color: #BEB9B9;}
.booklight>input[type="text"]:focus{border:none;box-shadow: none}
.booklight_list {position: relative;overflow-y: scroll;height: 215px;list-style: none;width: 96%;padding: 0 5px 0 0;color: #777; margin: 0 auto;}
.booklight_list>li{margin: 0; padding: 0 5px; cursor:pointer;line-height: 1.5em;font-size: 13px; text-align: left}
.booklight_list>li.isFolder {color:#3498db;}
.booklight_resultsbar {position: absolute;font-size: 9px;top: 55px;right: 10px;color: #ddd;}
.booklight_list>li.activeFolder {background: #2ecc71; color: #fff;}
.isFolder::before {font-family: 'fontello-booklight';content: '\e800';font-size: 8px;margin: 0 4px 0 0;position: relative;top: -2px;}
span.booklight_resultsbar::before {font-family: 'fontello-booklight';content: '\e802';position: relative;margin: 0 5px;color: #f1c40f;}
span.isBooklit {font-family: 'fontello-booklight';display: none;position: absolute;font-size: 20px;color: #f1c40f;top: 20px;right: 10px;}
span.isBooklit::before{font-family: 'fontello-booklight'; content: '\e803';}
.booklight_statusbar{position: relative;background: #2c3e50;width: 100%;border-top: 1px solid #fff;font-size: 10px;color: #fff;padding: 5px;box-sizing:border-box;line-height: 15px}
