@font-face {
  font-family: 'fontello-booklight';
  src: url('chrome-extension://__MSG_@@extension_id__/font/fontello.eot?76547315');
  src: url('chrome-extension://__MSG_@@extension_id__/font/fontello.eot?76547315#iefix') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.woff?76547315') format('woff'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.ttf?76547315') format('truetype'),
       url('chrome-extension://__MSG_@@extension_id__/font/fontello.svg?76547315#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76547315#fontello') format('svg');
  }
}
*/