@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.booklight {position:absolute;width: 40%;height: 300px;left: 0;margin: 0 auto;right: 0;top: 10%;border: 2px solid #ddd;background: #fff;box-shadow: 0px 0px 20px 9px #ddd;display: none;z-index: 99999999}
.booklight>input {width: 90%; margin: 10px auto; height:50px;bottom: 0;top: 0;position: absolute;border: 0;outline: none;padding: 5px 10px;font-size: 20px;}
.booklight_list {position: absolute;top: 70px;overflow: scroll;height: 215px;list-style: none;padding: 0 10px;width: 96%;color: #777; line-height: 1.5em;font-family:'Open Sans', sans-serif !important;}
.booklight_list>li{margin: 0; padding: 0 5px}
.booklight_status {position: absolute;font-size: 9px;top: 50px;right: 10px;color: #ddd;}
.activeFolder {background: rgb(75, 169, 190);color: #fff;}